{% extends "base.html" %}

{% block title %}Quiz Admin - ICM MATH CLICKATHON{% endblock %}

{% block extra_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <!-- First column -->
    <div class="col-md-6">
        <h1 class="text-center ga-maamli-regular">ICM MATH CLICKATHON</h1>
        <hr>
        <audio id="question-sound" preload="auto" src="/static/sounds/question.mp3"></audio>

        <div id="clientCount">Active Groups: 0</div>
        <div id="timer">[ 00:45 ]</div>
        <button onclick="sendNextQuestion()" class="btn btn-success">Next Question</button>
        <button onclick="restartQuiz()" class="btn btn-success">Restart Quiz</button>
        <button type="button" class="btn btn-success btn-lg show-result" data-toggle="modal" data-target="#myModal">View Results</button>
        <div id="question"></div>
        <img id="question-image" src="" alt="QuestionImage" class="img-fluid" />
        <div class="tc" id="choices"></div>
        <br>
        <h4>Results</h4>
        <div id="resultsDisplay"></div>
        <button id="viewResultsButton" class="btn btn-success" onclick="fetchResponseTimes()">View Overall Results</button>
    </div>

    <!-- Second column -->
    <div class="col-md-6">
        <h4>Responses</h4>
        <div id="messages"></div>
    </div>
</div>

<!-- Results Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p id="questionIndex">Results for Question: 0.</p>
            </div>
            <div class="modal-body">
                <table class="results-table">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Group Name</th>
                            <th>School Name</th>
                            <th>Answer</th>
                            <th>Result</th>
                            <th>Response Time (seconds)</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody id="resultsBody">
                        <!-- Results will be injected here via JavaScript -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
    let timerInterval;
    let connectedClientsCount = 0;
    let currentQuestionIndex = 0;
    const socket = io();
    console.log('socket ready to connect')

    socket.on('connect', function() {
        console.log('Connected to the server.');
    });
    
    socket.on('update_client_count', (count) => {
        connectedClientsCount = count;
        document.getElementById('clientCount').textContent = `Active Groups: ${connectedClientsCount}`;
    });

    socket.on('message', (message) => {
        const messagesDiv = document.getElementById('messages');
        const messageElement = document.createElement('p');
        messageElement.textContent = message;
        messagesDiv.appendChild(messageElement);
    });

    socket.on('new_question', (question) => {
        const questionDiv = document.getElementById('question');
        const choicesDiv = document.getElementById('choices');
        
        questionDiv.classList.add('fade-out');
        choicesDiv.classList.add('fade-out');
    
        setTimeout(() => {
            currentQuestionIndex = question.index;
            questionDiv.textContent = (currentQuestionIndex + 1) + '. ' + question.question;
            
            const imgElement = document.getElementById('question-image');
            if (question.image) {
                imgElement.src = question.image;
                imgElement.style.display = 'block';
            } else {
                imgElement.style.display = 'none';
            }
            
            choicesDiv.classList.add('grid-container');
            choicesDiv.innerHTML = '';
            
            Object.entries(question.choices).forEach(([letter, choiceText]) => {
                const choiceButton = document.createElement('button');
                choiceButton.textContent = `${letter}: ${choiceText}`;
                choiceButton.classList.add('grid-item');
                choicesDiv.appendChild(choiceButton);
            });
    
            questionDiv.classList.remove('fade-out');
            questionDiv.classList.add('fade-in');
            choicesDiv.classList.remove('fade-out');
            choicesDiv.classList.add('fade-in');
    
            if (question.question !== '' && Object.values(question.choices).some(choice => choice !== '')) {
                startTimer(45);
                questionStartTime = Date.now();
            } else {
                clearInterval(timerInterval);
                document.getElementById('timer').textContent = '[ 00:00 ]';
            }
    
        }, 500);

        setTimeout(() => {
            questionDiv.classList.remove('fade-in');
            choicesDiv.classList.remove('fade-in');
        }, 1000);
    });

    socket.on('clear_messages', () => {
        const messagesDiv = document.getElementById('messages');
        if (messagesDiv) {
            messagesDiv.innerHTML = '';
        }
    });
    
    socket.on('display_total_group_results', function(results) {
        localStorage.setItem('quizResults', JSON.stringify(results));
        window.location.href = "{{ url_for('checkresults') }}";
    });        

    function sendNextQuestion() {
        socket.emit('next_question');
        playQuestionSound();
    }

    function restartQuiz() {
        socket.emit('restart_quiz');
    }

    function showResultsModal() {
        const questionIndex = currentQuestionIndex;
        fetch(`/results/${questionIndex}`)
            .then(response => response.json())
            .then(data => {
                const resultsBody = document.getElementById('resultsBody');
                resultsBody.innerHTML = '';

                data.results.forEach((result, index) => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${index + 1}</td>
                        <td>${result.group_name}</td>
                        <td>${result.school_name}</td>
                        <td>${result.answer}</td>
                        <td>${result.result}</td>
                        <td>${result.response_time}</td>
                        <td>${result.score}</td>
                    `;
                    resultsBody.appendChild(row);
                    document.getElementById('questionIndex').textContent = 'Results for Question: ' + (questionIndex + 1) + '.';
                });

                $('#myModal').modal('show');
            })
            .catch(error => console.error('Error fetching results:', error));
    }

    document.querySelector('.show-result').addEventListener('click', showResultsModal);

    function fetchResponseTimes() {
        socket.emit('fetch_total_group_results');
    }

    function startTimer(duration) {
        timeLeft = duration;
        clearInterval(timerInterval);

        timerInterval = setInterval(() => {
            if (timeLeft <= 0) {
                clearInterval(timerInterval);
                showResultsModal();
            } else {
                timeLeft--;
                updateTimerDisplay();
            }
        }, 900);
    }

    function updateTimerDisplay() {
        const minutes = String(Math.floor(timeLeft / 60)).padStart(2, '0');
        const seconds = String(timeLeft % 60).padStart(2, '0');
        document.getElementById('timer').textContent = `[ ${minutes}:${seconds} ]`;
    }

    const questionSound = document.getElementById("question-sound");

    function playQuestionSound() {
        questionSound.play();
    }

    window.onload = function() {
        setTimeout(function() {
            var flashes = document.getElementsByClassName('flash');
            for (var i = 0; i < flashes.length; i++) {
                flashes[i].style.opacity = '0';
                setTimeout(function(flash) {
                    flash.style.display = 'none';
                }, 500, flashes[i]);
            }
        }, 3000);
    };
</script>
{% endblock %}