{% extends "user_base.html" %}

{% block title %}Quiz Session - ICM MATH CLICKATHON{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main p-3">
    <div class="container">
        <div class="text-center">
            <h1 class="ga-maamli-regular">ICM MATH CLICKATHON</h1>
            <h4>{{ school.name }}</h4>
            <h4>({{ group.name }})</h4>
            <div class="tc" id="clientCount">Active Groups: 0</div>
            <div class="tc" id="timer">[ 00:45 ]</div>
            <div class="tc" id="choices"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    let timerInterval;
    let timeLeft = 0;
    let currentQuestionIndex = null;
    const socket = io();
    let connectedClientsCount = 0;
    let questionStartTime = null;
    let selectedChoice = null;
    let answered = false;

    socket.on('connect', () => {
        console.log('Connected to server');
    });

    socket.on('update_client_count', (count) => {
        connectedClientsCount = count;
        document.getElementById('clientCount').textContent = `Active Groups: ${connectedClientsCount}`;
    });

    socket.on('new_question', (question) => {
        answered = false;
        currentQuestionIndex = question.index;
        const choicesDiv = document.getElementById('choices');
        
        choicesDiv.classList.add('fade-out');
        
        setTimeout(() => {
            choicesDiv.innerHTML = '';
            
            if (question.question !== '' && Object.values(question.choices).some(choice => choice !== '')) {
                startTimer(45);
                questionStartTime = Date.now();
            } else {
                clearInterval(timerInterval);
                document.getElementById('timer').textContent = '[ 00:00 ]';
            }
            
            choicesDiv.classList.add('grid-container');
            
            Object.entries(question.choices).forEach(([letter, choiceText]) => {
                const choiceButton = document.createElement('button');
                choiceButton.textContent = `${letter}`;
                choiceButton.classList.add('grid-item');
                choiceButton.onclick = () => submitAnswer(letter);
                choicesDiv.appendChild(choiceButton);
            });
            
            choicesDiv.classList.remove('fade-out');
            choicesDiv.classList.add('fade-in');
            
            const buttons = choicesDiv.getElementsByClassName('grid-item');
            for (let button of buttons) {
                button.disabled = false;
            }
            
        }, 500);

        setTimeout(() => {
            choicesDiv.classList.remove('fade-in');
        }, 1000);
    });
    
    socket.on('answer_result', ({ correct_answer, response_time }) => {
        const choicesDiv = document.getElementById('choices');
        const buttons = document.getElementsByClassName('grid-item');
        
        if (buttons.length > 0) {
            for (let i = 0; i < buttons.length; i++) {
                buttons[i].disabled = true;
            }

            const letterToIndex = {
                'A': 0,
                'B': 1,
                'C': 2,
                'D': 3
            };

            if (!(selectedChoice in letterToIndex) || !(correct_answer in letterToIndex)) {
                console.error('Invalid choice or answer');
                return;
            }

            const clickedButtonIndex = letterToIndex[selectedChoice];
            const correctButtonIndex = letterToIndex[correct_answer];

            const clickedButton = buttons[clickedButtonIndex];
            const correctButton = buttons[correctButtonIndex];

            if (!clickedButton || !correctButton) {
                console.error('Button element not found');
                return;
            }

            if (selectedChoice === correct_answer) {
                clickedButton.classList.remove('grid-item');
                clickedButton.classList.add('correct');
            } else {
                clickedButton.classList.remove('grid-item');
                clickedButton.classList.add('incorrect');
                correctButton.classList.remove('grid-item');
                correctButton.classList.add('correct');
            }
        } else {
            console.warn('No elements found with the specified class name.');
        }
    });
    
    function submitAnswer(choice) {
        if (answered) return;

        selectedChoice = choice;
        const responseTime = (Date.now() - questionStartTime) / 1000;
        console.log('Submitting answer:', choice, 'Response time:', responseTime);
        socket.emit('submit_answer', {
            question_index: currentQuestionIndex,
            answer: choice,
            response_time: parseFloat(responseTime.toFixed(2))
        });

        answered = true;
    }

    function startTimer(duration) {
        timeLeft = duration;
        clearInterval(timerInterval);

        timerInterval = setInterval(() => {
            if (timeLeft <= 0) {
                clearInterval(timerInterval);
                if (!answered) {
                    submitAnswer(0);
                }
            } else {
                timeLeft--;
                updateTimerDisplay();
            }
        }, 1000);
    }

    function updateTimerDisplay() {
        const minutes = String(Math.floor(timeLeft / 60)).padStart(2, '0');
        const seconds = String(timeLeft % 60).padStart(2, '0');
        document.getElementById('timer').textContent = `[ ${minutes}:${seconds} ]`;
    }
</script>
{% endblock %}